.basket {
    position: relative;
}

.basket-header {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.basket-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.item-count {
    background-color: #f9a825;
    color: #ffffff;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
}

.basket-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.basket-content {
    background-color: gray;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.close-button {
    background-color: #f44336;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.close-button:hover {
    background-color: #d32f2f;
}
* {
    margin: 0;
    padding: 0;
}

article {
    width: 60%;
    margin: auto;
}

.cart_box img {
    width: 50px;
    height: 50px;
}
.cart_img {
    display: flex;
    width: 400px;
}

.cart_img p {
    font-weight: bold;
    margin-left: 10px;
}

.cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid rgb(235, 135, 215);
    padding-bottom: 5px;
}

.cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}

.cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(228, 135, 235);
    border-radius: 5px;
    cursor: pointer;
}
.cart_box div:nth-child(3) button:hover {
    background-color: darkseagreen;
}
.cart_box div:nth-child(3) span {
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total span:nth-child(1) {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
}

.total span:nth-child(2) {
    font-size: 2rem;
    color: rgb(128, 0, 0);
    font-weight: bold;
}
