.item-container {
    border: 1px solid gray;
    min-width: 250px;
    min-height: 250px;
    align-content: center;
    margin: 15px;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.image-container
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aqua;
}

.image-container:hover
{
    background: #40134c;
}

