.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* negative margin to remove space between items */
    align-items: center;
    justify-content: center;
}

.col {
    flex-basis: calc(20% - 20px); /* maximum 4 items per row on big screens */
    margin: 10px; /* add margin to create space between items */
}

@media screen and (max-width: 990px) {
    .col {
        flex-basis: calc(50% - 20px); /* two item per row on medium sizes */
        scale: 1.1;
        border: #40134c;
    }
}

@media screen and (max-width: 768px) {
    .col {
        flex-basis: calc(100% - 20px); /* one item per row on smartphones */
        scale: 1.2;
        border: #40134c;
    }
}


