.item-container {
    border: 1px solid gray;
    min-width: 250px;
    min-height: 250px;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    padding-top: 100px;
}


@media screen  and (min-width: 960px) {
    .item-container:hover {
        transform: scale(1.1);
        transition: transform 0.5s ease;
    }

}

.image-container {
    max-width: 250px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen  and (max-width: 700px) {
    .image-container {
        scale: 0.8;

    }
}
